streamlit
fastapi
uvicorn[standard]
scikit-learn
imbalanced-learn
pandas
numpy
matplotlib
seaborn
plotly
joblib
python-dotenv
requests
python-pptx
shap
xgboost
google-generativeai
streamlit-shap
openpyxl
